section.footer
  .footer__share
    a.share__button(
      href="http://twitter.com/share?text=Have%20a%20Nice%20Day!%20%7C%20%E3%81%98%E3%82%83%E3%82%93%E3%81%A0%E3%82%89%E3%82%8A%E3%82%93%E3%80%82&url=https%3A%2F%2Fzyandararin.github.io%2Fhave-a-nice-day%2F"
    )
      img(
        src="/have-a-nice-day/images/twitter.png",
        width="40",
        height="40"
      )
    .share__button.line-it-button(
      data-lang="ja",
      data-type="share-d", data-url="https://zyandararin.github.io/have-a-nice-day/",
      style="display: none;"
    )
  .footer__copy
    span Copyright(C) 2018 じゃんだらりん。
